@using WEB6ELTETRADO.Models;

<script src="~/Scripts/deneme.js"></script>
<div class="headd">
    <p>Upload structure in PDB or PDBx/mmCIF format</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <form name=Frm1 id=Frm1 method="post" action="#">




        <input type="text" />

    </form>
    <input name=Frm2 type="file" id="logo">

</div>

<button type="button" class="btn btn-danger">Settings</button>

<style>
    #Frm1 {
        display: inline-block;
        margin-right: 10px;
    }
    #logo{
        display: inline-block;
    }
    .btn-danger {
        position: absolute;
        left: 50px;
        top: 156px;
        color: white;
        background-color: #008CBA;
    
    }

    .headd {
        margin-left: 50px;
        margin-top:15px;
        margin-bottom:50px;
    }
    #Frm3 {
        margin-top: 0px;
        margin-left: 50px;
        margin-right: 500px;
        border: 2px solid #062bbe;
        
        
    }
    .btn-warning {
        margin-left: 50px;
        margin-top:10px;
        margin-bottom:250px;
        font-size: 16px;
    
    }
    
</style>

<form name=Frm3 id=Frm3 method="post" action="http://localhost:8000/input">

    
    <!-- Checked checkbox -->
    <div class="chk">

        <input type="checkbox" id="myCheck" onclick="checkFunction()">
        <!--<p id="text" style="display:none">Checkbox is CHECKED!</p>-->
        
        <label class="form-check-label" for="flexCheckDefault">
            Enable strict mode
        </label>



    </div>
    <div class="chk">

        <input class="form-check-input"
               type="checkbox"
               value=""
               id="flexCheckChecked" />
        <label class="form-check-label" for="flexCheckChecked">
            Disable chain ordering
        </label>

    </div>
    <div class="chk">

        <input class="form-check-input"
               type="checkbox"
               value=""
               id="flexCheckChecked" />
        <label class="form-check-label" for="flexCheckChecked">
            Draw complete 2D structure
        </label>

    </div>

    <p>Set stacking mismatch: </p>
    <!-- Radio Button -->
    <div class="chk">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            1
        </label>

    </div>
    <div class="chk">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            2
        </label>

    </div>


    

    
</form>
<button type="button" onclick="window.location.href = 'https://www.tasarimkodlama.com';" class="btn btn-warning">Run</button>
